@media screen and (min-width:767px) {

    .con{
        display: flex;
        flex-direction: column;
    }
nav  li {
    display: inline;
    font-size: large;
    color: blue;
   
}
nav ul li a{
    color: red;
    font-size: larger;
    
}
nav ul li a:hover{
    color: blue;
}
p{
    color:rgba(42, 40, 40, 0.921);
}
li {
    list-style-type:none;
    padding-left: 10px;
    font-size: larger;
    
}
.dis{
    padding-right: 47px;
}
.jum{

    padding-top: 30px;
    padding-left: 20px;
}
h2{
    color:rgb(255, 0, 217);
}
.column {
    float: left;
    width: 24.66%;
    padding: 15px;
    padding-left:90px;
    padding-right:20px;
    margin-top:20px;
    font-size: 20px;
  }
.row::after {
    content: "";
    
  }
.in{
    
    padding-right: 50px;
    
}
.back{
    padding-left: 25px;
    
}
 img{
    
    border-radius: 6%;
    padding-right: 10px;
 }
 .pr{
    align-items: center;
    text-align: center;
 }
}
   


@media screen and (max-width:767px) {
    .con{
        display: flex;
        flex-direction: column;
    }
    nav  li {
        display: inline;
        font-size: large;
        color: blue;
       
    }
    nav ul li a{
        color: red;
        font-size: larger;
        
    }
    nav ul li a:hover{
        color: blue;
    }
    p{
        color:rgba(42, 40, 40, 0.921);
    }
    
    
    li {
        list-style-type:none;
        padding-left: 10px;
        font-size: larger;
        
    }
    .dis{
        padding-right: 47px;
    }
    .jum{
    
        padding-top: 30px;
        padding-left: 20px;
    }
    h2{
        color:rgb(255, 0, 217);
    }
    .column {
        float: right;
        width: 24.66%;
        padding: 2px;
        font-size: 20px;
      }
    .row::after {
        content: "";
        
      }
    .in{
        
        padding-right: 50px;
        
    }
    .back{
        padding-left: 25px;
        
    }
     img{
        
        border-radius: 6%;
        padding-right: 10px;
     }
     .pr{
        align-items: center;
        text-align: center;
     }
    }
        
         
        
     
    